.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #333;
  color: #fff;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logout {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}
